.body{
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.inputsWrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: .5rem;
}
