:root {
  --border-color: rgba(255, 255, 255, 0.87);
}

.friendshipStatus{
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user{
  border: 2px solid var(--border-color);
}

.user p{
  text-align: left;
  padding: .5rem;
  padding-top: 0;
}

.overlay{
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, .7);

  display: flex;
  flex-direction: column;

  padding: 0 2rem;
  padding-top: 82px;
}

@media (min-width: 1200px){
  .overlay{
    width: 1200px;
    height: 846px;
    padding: 200px 200px;
    top: calc((100dvh - 846px) / 2);
    right: calc((100dvw - 1200px) /2)
  }
}
