:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 125%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --border-color: rgba(255, 255, 255, 0.87);
  --dark-grey: #242424;
  --nav-height: 84px;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background: rgb(19, 19, 19);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: left;
}

.clickable, button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  font-size: inherit;
}

.link :hover{
  color: lightblue;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding-right: .5rem;
  padding-left: .5rem;
}

.mirrorX{
  transform: scale(-1, 1);
}

.backButton{
  transform: rotate(-90deg);
  font-size: 1.25rem;
  padding: 0 1rem;
}
